

{% extends 'base.html' %}

{% block content %}
<br/>
<br/>
<h1>Reminder</h1>
<div>
    <a class="btn btn-secondary" href="create_reminder" role="button" style="float:right">Create Reminder</a>
</div>
<table class="table" style="margin-top: 5%;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Reminder_ID</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Tags</th>
      <th scope="col">Created At</th>
      <th scope="col">Due date</th>
    </tr>
  </thead>
  <tbody>
    {% if context %}
        {% for each in context %}
            <tr>
              <td>{{ each.reminder_id }}</td>
              <td>{{ each.title }}</td>
              <td>{{ each.status }}</td>
              <td>{{ each.priority }}</td>
              <td>{{ each.tags }}</td>
              <td>{{ each.created_date }}</td>
              <td>{{ each.due_date }}</td>
              <td>
                <a href="edit_reminder" class="btn btn-primary">Edit</a>
                <a href="delete_reminder" class="btn btn-danger">Delete</a>
              </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th>No Data Found</th>
        </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}